<p>pagina-pagamentos works!</p>
<div class="flex ml-10 mt-10 bg-gray-800 shadow-2xl rounded-lg p-5 m-10">
  <div class="bg-gray-800 p-8 rounded-md w-full ">
    <div class=" flex items-center justify-between pb-6">
      <div>
        <h1 class="text-red-600 font-bold">Pagamentos</h1>
      </div>
    </div>
    <div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto ">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal ">
            <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Tipo
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Data Emissão
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Data Pagamento
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Descrição
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Valor
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-400 bg-gray-800 text-left text-xs font-semibold text-gray-400 uppercase tracking-wider">
                Estado
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of pagamentos">
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <div class="flex items-center">
                  <p class="text-gray-400 whitespace-no-wrap">
                    {{ p.TipoPagamento }}
                  </p>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <p class="text-gray-400 whitespace-no-wrap">
                  {{ p.DataEmissao | date: 'yyyy-MM-dd HH:mm' }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <p class="text-gray-400 whitespace-no-wrap">
                  {{ p.DataPagamento ? (p.DataPagamento | date:'yyyy-MM-dd HH:mm') : "---------------------" }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <p class="text-gray-400 whitespace-no-wrap">
                  {{ p.Descricao }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <p class="text-gray-400 whitespace-no-wrap">
                  {{ p.ValorPagar.toFixed(2) }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-400 bg-gray-800 text-sm">
                <button class="rounded py-1 px-2 relative inline-block font-semibold text-white leading-tight"
                        [ngClass]="{
                    'bg-green-500 pointer-events-none': p.Estado == 'Pago',
                    'bg-yellow-500': p.Estado == 'Não Pago',
                    'bg-red-600 hover:bg-red-800 pointer-events-none': p.Estado == 'Terminou o Prazo' }">
                  <p>{{ p.Estado }}</p>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
