<div class="container" id="pagIni">
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-4 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-4">Para Assistir</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Terminado</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Assistindo</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Em espera</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Cancelado</button>
  <br><br>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-7 gap-5">
      <div class="row" *ngFor="let conteudo of conteudos">
        <div class="max-w-lg rounded overflow-hidden shadow-lg mb-2 bg-gray-600">
          <img class="w-full max-h-[17.6rem]" src="https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_Ratio0.6904_AL_.jpg">
          <div class="px-6 py-4">
            <label [id]="conteudo.Id"></label>
            <p class="font-bold text-black">
              {{ conteudo.Nome | slice:0:15 }}{{ conteudo.Nome.length > 15 ? '...' : '' }}
            </p>
            <div class="text-l flex items-center mb-2">
              <svg aria-hidden="true" class="mr-1 w-5 h-5 text-red-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{ conteudo.Rating.toFixed(2) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
