<div class="container" id="pagIni">
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-4 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-4">Para Assistir</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Terminado</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Assistindo</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Em espera</button>
  <button type="button" class="text-white hover:text-red-100 bg-red-600 hover:bg-red-700 rounded-md px-2 py-2 text-xs mt-4 ml-3 lg:px-3 lg:py-2 lg:text-sm lg:font-medium lg:ml-3">Cancelado</button>
  <br><br>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-7 gap-5">
      <div class="row" *ngFor="let conteudo of conteudos">
        <div class="max-w-lg rounded overflow-hidden shadow-lg mb-2 bg-gray-600">
          <img class="w-full" src="https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_Ratio0.6904_AL_.jpg">
          <div class="px-6 py-4">
            <label [id]="conteudo.Id"></label>
            <p class="font-bold text-black">
              {{ conteudo.Nome }}
            </p>
            <div class="text-l mb-2">⭐Rating: {{ conteudo.Rating.toFixed(2) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
